@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Semibold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.otf");
  font-style: normal;
  font-weight: 500;
}
